# Mac
.DS_Store
._.DS_Store
._*
**/.DS_Store

# Dipendenze
node_modules/
.npm

# Build
dist/
build/

# Ambiente
.env
.env.local
.env.prod

# Log
*.log
logs/

# IDE
.vscode/settings.json
.idea/

# Coverage
coverage/

